#nav{
	font-size:26px;
}
#nav.affix {
	font-size:26px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}

#nav > .navbar-inner {
	font-size:26px;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
/** landing**/
#landing {
	color:rgb(63,158,216);
	position: top;
	height: 900px;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-image: url('http://farm4.staticflickr.com/3771/12755965134_19c059f09d_o.jpg');
	text-shadow:rgb(109, 110, 113) 1 em;
	background-repeat: no-repeat;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
#landing #box{
	background-color: rgba(153, 149, 149, 0.35);
	width:600px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
}

#landing h2{
	color:rgb(:;63,198,216);
}
/** about**/
#about {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.jumbotron {
  margin-bottom: 0px;
  color: white;
  background:transparent;
}
/** register**/
#form {
	color:white;
	margin-left:auto;
	margin-right:auto;
	background: #cf1b41;
}
#form-1{
	color:white;
	font-size:26px;
}

#form-2{
	background:#aa1c3a;
	float:absolute;
	padding-bottom:100px

}

#content{
 padding:100px;
}

footer{
text-align:center
}
	/********************
	Challenges
	********************/

	#challenges {
		background: #cf1b41;
		color: white;
	}
	#challenges a{
		color: ##7ab5d6;
	}

	#challenges div {
	}

	#challenges img {
		display: block;
		max-width: 100%;
		margin: .5em auto;
		margin-bottom: 1em;
	}

	#challenges h1 {
	}

	#challenges h2 {
		margin-top: 10px;
	}

	#challenges p {
		text-align: center;
	}

	#challenges .underlay {
		margin-bottom: 1em;
	}

	/********************
	Activities
	********************/

	#activities {
		background: #B3EEF5;
	}

	#activities a{
		color: #6D6E71;
	}
	#activities div {
		margin-bottom: 1em;
	}

	#activities img {
		display: block;
		max-width: 75px;
		margin: .5em auto;
		margin-bottom: 0;
	}

	#activities h1 {
		color: inherit;
	}

	#activities h2 {
		margin-top: 10px;
	}

	#activities p {
		text-align: center;
	}

	#activities div p:last-child {
		font-size: 12px;
		color: #5d242f;
		font-weight: bold;
		background: #D4ECF7;
		border-radius: 6px;
		padding: .5em 1em;
	}
